*{
    padding: 0px;
    margin:0px; 
}


.nav1{                            
    height: 50px;
    color:white;
    background-color: #334257;
    text-align: center;
    font-size: 47px;
}
.nav2{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:30px;
    background-color:#476072;
    font-size:25px ;
    color:white;
}
.nav2 a {                     /* ye isliye qnki underline nhi chahiye tha   link pe */
    color:white;
    text-decoration: none;
}


.top-container,.cover-title,.intro-body{
    text-align: center;       /* beech mai lana tha fir inline block karna tha */
    background-color: #548ca8;
}


.top,.cover-para {
    display: inline-block;       /* agar text ke width ke hisaab se box chahiye */
    background-color: #fcf4cd;
    border-radius: 50%;
           /* top right bottom left cloclwise */
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
    padding: 17px 10px 17px 10px;            /* text ke aas-pass space */
    line-height: 35px;           /* vertical center */
    text-align: center;          /* horizontal center */
}
.main-body{
    background-color: #548ca8;
}
.pic1:hover , .cover1:hover{
    transform: scale(1.05);
    
}
#part1{                 /* iski wajah se mera chhoot rha tha color individual access kiya maine */
    margin-top: 0px;
    padding-top: 50px;
}
.part{                              /* part ek div jisme 3 image hai yaani pehla dabba*/
    display: flex;
  justify-content: space-evenly;
  margin-top: 10px;   
    
}
.pic{                                 /* single image ki  baat kiya isme */
  border:2px solid #eeeeee;
  margin: 2px 2px 2px 2px;
  height: 260px;
  width:480px;
  background-repeat: no-repeat;
  background:cover;
  background-size:cover;
}
#part2{
    margin-bottom: 10px;
}

.last{
    height:30px;
    text-align:center;
    background-color: #2e3a49;
    color:white;
    font-weight: 400;
    font-size: 25px;
    
}

.reelscover{
    display: flex;
    justify-content:space-evenly;
}
.cover1,.cover11{
    border:2px solid #fcf4cd;
  margin: 2px 2px 2px 2px;
  height: 560px;
  width:300px;
  background-repeat: no-repeat;
  background:cover;
  background-size:cover;
  margin-bottom: 30px;
}


.reel-mess{
    text-align: center;
}
.reel-box{                    /* jo dabbe ke andr mess likha hai wo hai */

    display:inline-block;
     background-color: #fcf4cd;
    border-radius: 25%;
    text-align: center;
    font-size: x-large;
   padding-left: 30px;
   padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reel-section{
    display:flex;
    justify-content: space-evenly;
     
   
}
.reeels{
      height:560;
    width:300px;
}
  

.intro{
     display: inline-block;      
    background-color: #fcf4cd;
    border-radius: 50%;
          
    font-size: 25px;
    font-weight: 300;
    margin-top: 50px;
    padding: 0 40px 20px;            
    line-height: 35px;          
    text-align: center;
    
}
.work{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: ease-in;
    margin-bottom: 70px;
}
.reeel1{
    margin-bottom: 50px;
}
.reeel11:hover{
    transform: scale(1.05);
}


.reeel11,.cover11,.pic11 {
    opacity:0;
    transform: translateY(70px);
    animation:slideUpFade 2s ease-out forwards;
}
@keyframes slideUpFade{
 from {
   opacity:0;
   transform:translateY(80px);
   }
   to {
    opacity:100;
   transform:translateY(0px);
   }
}

.intro-container{
    text-align: center;
    
}
.myintro{
    display:inline-block;
    background-color: #fcf4cd;
    border-radius: 25%;
    font-size: 25px;
}


.intro-sonu{
    text-align: center;
}
.intro-boxx{
    display:inline-block;
    background-color: #fcf4cd;
    font-size: larger;
   
    
    border-radius: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right: 15px;
}
p4{
    display:inline-block;
    background-color: #fcf4cd;
    font-size: larger;
   
    
    border-radius: 50%;
    margin-top: 40px;
    padding:8px 8px 8px 8px;
    
}

.png{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    gap: 160px;
    
}
.instu{
    margin-left: 60px;
}

  

p2{
    
    text-decoration: none;
    color: #4d006b;
    font-size: large;
    
    
}
p4{
    margin-bottom: 20px;
    
}

.idies{
    display:flex;
    justify-content: center;
    gap: 60px;
}

.reeel1:hover ,.reeels:hover{
    cursor: pointer;
}
